<div class="row" id="field__id_">
	<label class="control-label col-sm-3" for="_id_">_label_</label>
	<div class="controls col-sm-6">
		<button id="_id__add" onclick="modJs.showDataGroup($('#_id_').data('field'));return false;" class="btn btn-mini btn-inverse" type="button" style="margin-top:3px;">Add</button>
		<button id="_id__reset" onclick="modJs.resetDataGroup($('#_id_').data('field'));return false;" class="btn btn-mini btn-inverse" type="button" style="margin-top:3px;margin-left:5px;">Reset</button>
		<br/>
		<div id="_id__div" name="_id__div" style="text-align: left;" class="control-label"></div>
		<input id="_id_" name="_id_" type="text" style="text-align: left;display:none" _validation_></input>
		
	</div>
	<div class="controls col-sm-3">
		<span class="help-inline control-label" id="help__id_"></span>
	</div>
</div>