<div class="row" id="field__id_">
	<label class="control-label col-sm-3" for="_id_">_label_</label>
	<div class="controls">
	  	
	  	<span class="help-inline" id="help__id_"></span>
	</div>
	<div class="controls col-sm-6">
		<div class="input-group date datefield" id="_id__date" name="_id__date" data-date="" data-date-format="yyyy-mm-dd">
			<span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
  			<input readonly="readonly" id="_id_" name="_id_" class="form-control" size="16" type="text" value="" _validation_>
  			
		</div>
	</div>
	<div class="controls col-sm-3">
		<span class="help-inline control-label" id="help__id_"></span>
	</div>
</div>