<div class="row" id="field__id_">
	<label class="control-label col-sm-3" for="_id_">_label_</label>
	<div class="controls col-sm-6">
		<label id="_id_" name="_id_" type="fileupload" class="control-label uploadInput" style="display:none;" _validation_></label>
		<button id="_id__download" onclick="download($('#_id_').attr('val'));return false;" class="btn btn-mini btn-inverse" type="button" style="margin-left:30px;margin-top:3px;display:none;"><t>Download</t></button>
		<button id="_id__upload" onclick="showUploadDialog('_id___rand_','Upload Attachment','_group_',_userId_,'_id_','html','name','_filetypes_');return false;" class="btn btn-mini btn-inverse" type="button" style="margin-top:3px;"><t>Upload</t></button>
        <button id="_id__remove" onclick="$('#_id_').attr('val','');return false;" class="btn btn-mini btn-inverse" type="button" style="margin-left:30px;margin-top:3px;"><t>Remove</t></button>
    </div>
	<div class="controls col-sm-3">
		<span class="help-inline control-label" id="help__id_">_helpline_</span>
	</div>
</div>