<div class="row" id="field__id_">
	<label class="control-label col-sm-3" for="_id_">_label_</label>
	<div class="controls col-sm-6">
		<div class="input-group input-append date timefield" id="_id__time" name="_id__time" data-date="" data-date-format="yyyy-MM-dd">
			<span class="add-on input-group-addon">
		      <i class="fa fa-clock-o"></i>
		    </span>
			<input readonly="readonly" data-format="hh:mm:ss" class="datetimeInput form-control" type="text" id="_id_" name="_id_" size="16" type="text" value="" _validation_></input>
		    
		</div>
	</div>
	<div class="controls col-sm-3">
		<span class="help-inline control-label" id="help__id_"></span>
	</div>
</div>
