.settings
.buildpath
.project
.idea/
build
deployment/clients/dev/data/
deployment/clients/test/data/
deployment/clients/local/data/
.vagrant
app/config.php
app/data/*
cache.properties
node_modules/*
web/dist/*.map
web/admin/dist/*.map
web/modules/dist/*.map
docker/db_data
