/.settings
/.buildpath
/.project
.idea/
/build
/deployment/clients/dev/data/*
/deployment/clients/test/data/*
/deployment/clients/local/data/*
/.vagrant
keys.tags.pub
keys.dev.pub
/app/config-dev.php
/app/icehrm.key
/app/data/*.*
/app/data/keys/*
/app/data/upgrades/
!/app/data/index.php
!/app/data/.htaccess
icehrm.key
cache.properties
node_modules/*
test/frontend/node_modules/*
web/dist/*.map
web/admin/dist/*.map
web/modules/dist/*.map
test/frontend/cypress/videos/*
test/frontend/cypress/screenshots/*
.gitkeep
web/node_modules
/frontend/node_modules/*
docker/development/db_data
docker/prod/db_data
docker/prod/app_data
docker/testing/db_data
!deployment/vagrant/ssl/icehrm.key
/web/dist/vendor.js.map
/web/dist/admin-bundle.js.map
/web/dist/modules-bundle.js.map
