
	<form class="form-horizontal" id="_id_" role="form">
		<div class="box-body">
			<div class="control-group">
				<div class="controls">
				  	<span class="label label-warning" id="_id__error" style="display:none;"></span>
				</div>
			</div>
			_fields_
			<div class="control-group row">
		    	<div class="controls col-sm-9">
		      		<button class="filterBtn btn btn-primary pull-right"><i class="fa fa-filter"></i> Filter</button>
		    	</div>
		    	<div class="controls col-sm-3">
		    	</div>
		  	</div>
		</div>
	</form>
