<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Explicitly disable rewriting for front controllers
    RewriteRule ^index.php - [L]

    RewriteCond %{REQUEST_FILENAME} !-f

    # Change below before deploying to production
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
# apache does not return auth header under normal operation, the below will set that header into a new "HTTP_AUTHORIZATION" header for consumption in PHP
SetEnvIf Authorization .* HTTP_AUTHORIZATION=$0
