<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i>
        <span>#_firstName_# <i class="caret"></i></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header bg-light-blue">
            <img src="#_profileImage_#" class="img-circle" alt="User Image" />
            <p>
                #_firstName_# #_lastName_#

            </p>
        </li>
       
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="#_homeLink_#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a href="#_CLIENT_BASE_URL_#logout.php" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>