<div class="row" id="field__id_">
	<label class="control-label col-sm-3" for="_id_">_label_</label>
	<div class="controls col-sm-6">
		<div class="input-group input-append date datetimefield" id="_id__datetime" name="_id__datetime" data-date="" data-date-format="yyyy-MM-dd">
			<span class="add-on input-group-addon">
		      <i class="fa fa-clock-o"></i>
		    </span>
			<input data-format="yyyy-MM-dd hh:mm:ss" class="datetimeInput form-control" type="text" id="_id_" name="_id_" size="16" type="text" value="" _validation_ datetimemask="true" placeholder="YYYY-MM-DD hh:mm:ss"></input>

		</div>
	</div>
	<div class="controls col-sm-3">
		<div id="help__id_" class="fa fa-info-circle help-info _hidden_class_help_"
			 onclick="modJs.showMessage('Tip','_helpline_')"></div>
		<span id="help_err__id_"></span>
	</div>
</div>
