<div class="row" id="field__id_">
	<label class="control-label col-sm-3" for="_id_">_label_</label>
	<div class="controls col-sm-6">
		<div class="input-group date datefield" id="_id__date" name="_id__date" data-date="" data-date-format="yyyy-mm-dd">
			<span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
  			<input id="_id_" name="_id_" class="form-control" size="16" type="text" value="" _validation_ datemask="true" placeholder="YYYY-MM-DD">

		</div>
	</div>
	<div class="controls col-sm-3">
		<div id="help__id_" class="fa fa-info-circle help-info _hidden_class_help_"
			 onclick="modJs.showMessage('Tip','_helpline_')"></div>
		<span id="help_err__id_"></span>
	</div>
</div>
