<div class="col-md-12">
    <!-- Box Comment -->
    <div class="box box-widget">
        <div class="box-header with-border">
            <div class="user-block">
                <img class="img-circle" src="#_profileImage_#" alt="">
                <span class="username"><a href="#">#_firstName_# #_lastName_#</a></span>
                <span class="description">#_date_#</span>
            </div>
            <!-- /.user-block -->
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="">

        </div>
        <!-- /.box-body -->

    </div>
    <!-- /.box -->
</div>
