<div class="user-panel switched-profile">
    <span class="switched-badge">
        <img src="#_profileImage_#" class="switched-avatar" alt="User Image" onclick="location.href='#_profile_url_#'"/>
        <span class="switched-info">
            <span class="switched-label"><t>Switched to</t></span>
            <a href="#_profile_url_#" class="switched-name">#_firstName_# #_lastName_#</a>
        </span>
        <button type="button" class="switched-close-btn" onclick="modJs.setAdminProfile('-1');return false;" title="Switch back">
            <i class="fa fa-times"></i>
        </button>
    </span>
</div>
