<table width="610" align="center" cellpadding="0">
    <tr>
        <td>
            <table cellpadding="15">
                <tr>
                    <td><img style="max-height: 100px;" src="#_logourl_#" /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="6" bgcolor="#405A6A"></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>
            <font face="Arial, sans-serif" size="2" color="#4a4a4a">
                #_emailBody_#
            </font>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="15">
                <tr>
                    <td><font face="Arial, sans-serif" size="1" color="#4a4a4a">This email sent through <a href="#_url_#"><strong><font color="405A6A">#_url_#</font></strong></a>
           
                        <hr/>
                        You are receiving this email because you are added as a user to <a href="#_url_#"><strong><font color="405A6A">#_url_#</font></strong></a>.
                        If you are not the intended recipient please inform application admin #_adminEmail_#.
                        </font></td>
                </tr>
            </table>
        </td>
    </tr>